.wrapper .breadcrumb_nav {
  margin-top: 98px;
  overflow: hidden;
}
.wrapper .breadcrumb_nav li {
  float: left;
  font-size: 14px;
  color: #5d5d5d;
}
.wrapper .breadcrumb_nav li:nth-child(2) {
  margin-left: 8px;
}
.wrapper .breadcrumb_nav li a {
  color: #5d5d5d;
}
.wrapper .userInfo {
  height: 365px;
  margin-top: 14px;
  background: #ffffff;
}
.wrapper .userInfo .left {
  float: left;
  width: 168px;
  margin-left: 51px;
  margin-top: 69px;
}
.wrapper .userInfo .left .pic .pic_con {
  position: relative;
  width: 168px;
  height: 168px;
}
.wrapper .userInfo .left .pic .pic_con em {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(../imgs/photo.png) no-repeat center;
  background-size: 100% 100%;
  cursor: pointer;
}
.wrapper .userInfo .right {
  float: left;
  width: 880px;
  margin: 32px 32px 32px 51px;
}
.wrapper .userInfo .right dl dt {
  color: #171717;
  font-size: 19px;
}
.wrapper .userInfo .right dl dd.account {
  color: #797979;
  font-size: 15px;
}
.wrapper .userInfo .right dl dd a {
  display: inline-block;
  width: 78px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #ff6d19;
  font-size: 14px;
  border: 1px solid #ff6d19;
  border-radius: 2px;
}
.wrapper .userInfo .right dl dd a.passWord {
  color: #ff6d19;
  font-size: 14px;
  margin-left: 10px;
}
.wrapper .userInfo .right dl dd a:hover {
  color: #fff;
  background: #ff6d19;
}
.wrapper .userInfo .right dl dd .process .v_vip {
  overflow: hidden;
  width: 879px;
  height: 22px;
  padding: 29px 21px 29px 0;
}
.wrapper .userInfo .right dl dd .process .v_vip ul li {
  position: relative;
  width: 96px;
  height: 32px;
  float: left;
  text-align: right;
}
.wrapper .userInfo .right dl dd .process .v_vip ul li:last-child {
  width: 0;
}
.wrapper .userInfo .right dl dd .process .v_vip ul li i {
  display: inline-block;
  background: url(../imgs/vip.png) no-repeat;
  width: 17px;
  height: 32px;
  position: absolute;
  top: -14px;
  left: 0;
  z-index: 1;
}
.wrapper .userInfo .right dl dd .process .v_vip ul li i b {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: #ffa019;
  border-radius: 100%;
}
.wrapper .userInfo .right dl dd .process .v_vip ul li i em {
  position: absolute;
  width: 60px;
  left: -23px;
  top: 36px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  font-style: normal;
}
.wrapper .userInfo .right dl dd .process .v_vip ul li i em.wl {
  left: -4px;
}
.wrapper .userInfo .right dl dd .process .v_vip ul li i em.fp {
  left: -41px;
}
.wrapper .userInfo .right dl dd .my_info {
  margin-top: 50px;
  height: 68px;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}
.wrapper .userInfo .right dl dd .my_info li {
  float: left;
  width: 293px;
  height: 68px;
}
.wrapper .userInfo .right dl dd .my_info li em {
  float: left;
  display: inline-block;
  width: 65px;
  height: 68px;
  background: url(../imgs/icon.png) no-repeat center;
  background-size: 300px 300px;
  margin-right: 22px;
}
.wrapper .userInfo .right dl dd .my_info li em.em_modou {
  background-position: 0 -40px;
}
.wrapper .userInfo .right dl dd .my_info li em.em_jifen {
  background-position: 0 -114px;
}
.wrapper .userInfo .right dl dd .my_info li em.em_info {
  width: 74px;
  height: 57px;
  background-position: 0 -190px;
}
.wrapper .userInfo .right dl dd .my_info li .in_right {
  width: 193px;
  float: left;
}
.wrapper .userInfo .right dl dd .my_info li .in_right span {
  color: #ff7a07;
  font-size: 26px;
  font-weight: 500;
}
.wrapper .userInfo .right dl dd .my_info li .in_right a {
  margin-top: 15px;
}
.wrapper .myInfo {
  height: 590px;
  margin-top: 37px;
  background: #ffffff;
  margin-bottom: 140px;
}
.wrapper .myInfo.allHeight {
  height: 700px;
}
.wrapper .myInfo .m_left {
  float: left;
  width: 290px;
  height: 100%;
  margin-left: 11px;
  border-right: 2px solid #ffa019;
}
.wrapper .myInfo .m_left ul {
  width: 260px;
  margin: 0 auto;
  height: 590px;
}
.wrapper .myInfo .m_left ul li {
  position: relative;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 18px;
  color: #5d5d5d;
  border-bottom: 1px solid #bfbfbf;
  cursor: pointer;
}
.wrapper .myInfo .m_left ul li a {
  display: inline-block;
  margin-left: 26px;
}
.wrapper .myInfo .m_left ul li.current {
  color: #ff7a07;
}
.wrapper .myInfo .m_left ul li.curArrow::after {
  content: '';
  width: 12px;
  height: 21px;
  position: absolute;
  right: -17px;
  top: 50%;
  margin-top: -10.5px;
  background: url(../imgs/arrow.jpg) no-repeat center;
  background-size: 100% 100%;
}
.wrapper .myInfo .m_left ul li::before {
  content: '';
  width: 27px;
  height: 28px;
  position: absolute;
  left: 70px;
  top: 50%;
  margin-top: -14px;
  background: url(../imgs/icon.png) no-repeat center;
  background-size: 300px 300px;
}
.wrapper .myInfo .m_left ul li.gray:nth-child(1)::before {
  background-position: -274px 0;
}
.wrapper .myInfo .m_left ul li.gray:nth-child(2)::before {
  background-position: -275px -32px;
}
.wrapper .myInfo .m_left ul li.gray:nth-child(3)::before {
  background-position: -271px -66px;
}
.wrapper .myInfo .m_left ul li.gray:nth-child(4)::before {
  background-position: -273px -93px;
}
.wrapper .myInfo .m_left ul li.gray:nth-child(5)::before {
  background-position: -272px -126px;
}
.wrapper .myInfo .m_left ul li.gray:nth-child(6)::before {
  background-position: -273px -158px;
}
.wrapper .myInfo .m_left ul li.gray:nth-child(7)::before {
  background-position: -273px -188px;
}
.wrapper .myInfo .m_left ul li.orange:nth-child(1)::before {
  background-position: -245px 0;
}
.wrapper .myInfo .m_left ul li.orange:nth-child(2)::before {
  background-position: -245px -32px;
}
.wrapper .myInfo .m_left ul li.orange:nth-child(3)::before {
  background-position: -244px -66px;
}
.wrapper .myInfo .m_left ul li.orange:nth-child(4)::before {
  background-position: -242px -93px;
}
.wrapper .myInfo .m_left ul li.orange:nth-child(5)::before {
  background-position: -243px -126px;
}
.wrapper .myInfo .m_left ul li.orange:nth-child(6)::before {
  background-position: -243px -159px;
}
.wrapper .myInfo .m_left ul li.orange:nth-child(7)::before {
  background-position: -242px -188px;
}
.wrapper .myInfo .m_left ul li.active:nth-child(1)::before {
  background-position: -245px 0;
}
.wrapper .myInfo .m_left ul li.active:nth-child(2)::before {
  background-position: -245px -32px;
}
.wrapper .myInfo .m_left ul li.active:nth-child(3)::before {
  background-position: -244px -66px;
}
.wrapper .myInfo .m_left ul li.active:nth-child(4)::before {
  background-position: -242px -93px;
}
.wrapper .myInfo .m_left ul li.active:nth-child(5)::before {
  background-position: -243px -126px;
}
.wrapper .myInfo .m_left ul li.active:nth-child(6)::before {
  background-position: -243px -159px;
}
.wrapper .myInfo .m_left ul li.active:nth-child(7)::before {
  background-position: -242px -188px;
}
.wrapper .myInfo .m_right {
  float: left;
  width: 839px;
  height: auto;
  padding: 21px 26px 0 32px;
}
.wrapper .myInfo .m_right .myCenter h2 {
  display: block;
  width: 100%;
  font-size: 26px;
  color: #2c2c2c;
}
.wrapper .myInfo .m_right .myCenter ul {
  margin-top: 44px;
}
.wrapper .myInfo .m_right .myCenter ul li {
  float: left;
  cursor: pointer;
}
.wrapper .myInfo .m_right .myCenter ul li:nth-child(2) {
  margin-left: 28px;
}
.wrapper .myInfo .m_right .allWidth {
  width: 185px;
  height: 38px;
  border: 1px solid #bfbfbf;
}
.wrapper .myInfo .m_right .recordStore {
  height: 530px;
}
.wrapper .myInfo .m_right .recordStore h2 {
  display: block;
  width: 100%;
  font-size: 26px;
  color: #2c2c2c;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper .myInfo .m_right .recordStore h2 a {
  display: inline-block;
  margin-top: 13px;
  color: #5d5d5d;
  font-size: 15.45px;
  vertical-align: bottom;
}
.wrapper .myInfo .m_right .recordStore .content {
  font-size: 17px;
  color: #5d5d5d;
  margin-top: 40px;
}
.wrapper .myInfo .m_right .recordStore .content .before {
  margin-right: 16px;
}
.wrapper .myInfo .m_right .recordStore .content .after {
  margin-left: 16px;
}
.wrapper .myInfo .m_right .recordStore .content select {
  width: 185px;
  height: 38px;
  margin-left: 16px;
  margin-right: 12px;
  border-radius: 2px;
  border: 1px solid #bfbfbf;
}
.wrapper .myInfo .m_right .recordStore .content a {
  display: inline-block;
  width: 99px;
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background: #ff7a07;
}
.wrapper .myInfo .m_right .recordStore table {
  margin-top: 35px;
  table-layout: fixed;
  text-align: center;
  color: #565656;
  font-size: 16.28px;
}
.wrapper .myInfo .m_right .recordStore table tr {
  height: 53px;
}
.wrapper .myInfo .m_right .recordStore table tr td {
  height: 49px;
  border: 1px solid #bfbfbf;
}
.wrapper .myInfo .m_right .accountSave {
  height: 530px;
}
.wrapper .myInfo .m_right .accountSave h2 {
  display: block;
  width: 100%;
  font-size: 26px;
  color: #2c2c2c;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper .myInfo .m_right .accountSave ul {
  overflow: hidden;
  width: 752px;
  margin: 30px auto;
}
.wrapper .myInfo .m_right .accountSave ul li {
  float: left;
  width: 100%;
  margin-top: 30px;
  cursor: pointer;
}
.wrapper .myInfo .m_right .accountSave ul li .sex_select {
  width: 240px;
  text-align: left;
}
.wrapper .myInfo .m_right .accountSave ul li:nth-child(1) {
  margin-top: 0;
}
.wrapper .myInfo .m_right .accountSave ul li .left {
  color: #9d9d9d;
}
.wrapper .myInfo .m_right .accountSave ul li .left em {
  display: inline-block;
  width: 61px;
  height: 61px;
  margin-right: 16px;
  /**background: #ffa019;
                                border-radius: 100%;**/
  background: url(../imgs/a_icon.png) no-repeat;
  background-size: 62px 527px;
}
.wrapper .myInfo .m_right .accountSave ul li .left em.em_xgmm {
  background-position: 0 0;
}
.wrapper .myInfo .m_right .accountSave ul li .left em.em_bdsj {
  background-position: 0 -88px;
}
.wrapper .myInfo .m_right .accountSave ul li .left em.em_bdyx {
  background-position: 0 -182px;
}
.wrapper .myInfo .m_right .accountSave ul li .left em.em_mbwt {
  background-position: 0 -274px;
}
.wrapper .myInfo .m_right .accountSave ul li .left em.em_ljbd {
  background-position: 0 -372px;
}
.wrapper .myInfo .m_right .accountSave ul li .left em.em_sqzx {
  background-position: 0 -466px;
}
.wrapper .myInfo .m_right .accountSave ul li .left .txt {
  width: 612px;
}
.wrapper .myInfo .m_right .accountSave ul li .left .txt h3 {
  font-size: 17px;
  color: #5d5d5d;
  margin-top: 9px;
}
.wrapper .myInfo .m_right .accountSave ul li a {
  display: inline-block;
  width: 137.96px;
  height: 48px;
  line-height: 48px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  background: #ffa019;
  border-radius: 2px;
}
.wrapper .myInfo .m_right .myProfile ul {
  width: 345px;
  margin: 40px auto;
}
.wrapper .myInfo .m_right .myProfile ul li label {
  width: 105px;
  text-align: left;
  color: #2c2c2c;
  font-size: 19.4px;
}
.wrapper .myInfo .m_right .myProfile ul li input[type="text"] {
  width: 228px;
  height: 25.47px;
}
.wrapper .myInfo .m_right .myProfile ul li .fr span {
  font-size: 13.33px;
  color: #838383;
}
.wrapper .myInfo .m_right .myProfile ul li .fr input[type="checkbox"] {
  margin-right: 8px;
}
.wrapper .myInfo .m_right .myProfile ul li .fr > div {
  margin-left: 20px;
}
.wrapper .myInfo .m_right .myProfile ul li .fr > div:nth-child(1) {
  margin-left: 0;
}
.wrapper .myInfo .m_right .myProfile ul li .fr select {
  width: 87px;
  height: 25px;
  margin-bottom: 22px;
  color: 13.33px;
  border-radius: 2px;
  border: 1px solid #bfbfbf;
}
.wrapper .myInfo .m_right .myProfile ul li a {
  width: 125.81px;
  height: 25.45px;
  line-height: 25.45px;
  text-align: center;
  color: #2c2c2c;
  font-size: 16.97px;
  border-radius: 2px;
  border: 1px solid #bfbfbf;
  background: none;
}
.wrapper .myInfo .m_right .myProfile ul li a:hover {
  color: #ff6d19;
  border: 1px solid #ff6d19;
}
.wrapper .myInfo .m_right .sysMsg ul {
  height: 50px;
  border-bottom: 1px solid #bfbfbf;
  box-sizing: border-box;
}
.wrapper .myInfo .m_right .sysMsg ul li {
  float: left;
  width: 138px;
  height: 50px;
  line-height: 50px;
  color: #797979;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
.wrapper .myInfo .m_right .sysMsg ul li i {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 100%;
  background: #ffa019;
  font-style: normal;
  color: #fefefe;
  font-size: 14px;
  vertical-align: middle;
  margin-left: 8px;
}
.wrapper .myInfo .m_right .sysMsg ul li.active {
  font-size: 26px;
  color: #2c2c2c;
  border-bottom: 3px solid #ffa019;
}
.wrapper .myInfo .m_right .sysMsg table {
  width: 827px;
  height: 440px;
  margin-top: 22px;
}
.wrapper .myInfo .m_right .sysMsg table tr td {
  text-align: center;
  border: 1px solid #bfbfbf;
}
.wrapper .myInfo .m_right .sysMsg table tr td .left {
  text-align: left;
  font-size: 14px;
  color: #797979;
}
.wrapper .myInfo .m_right .sysMsg table tr td .right {
  text-align: right;
  font-size: 14px;
  color: #939393;
}
.wrapper .myInfo .m_right .sysMsg table tr td .right a {
  color: #797979;
}
.wrapper .myInfo .m_right .sysMsg table tr td:nth-child(1) {
  width: 123px;
}
.wrapper .myInfo .m_right .sysMsg table tr td:nth-child(2) {
  padding-left: 28px;
  padding-right: 18px;
  text-align: right;
  color: #5d5d5d;
  font-size: 15px;
}
.wrapper .myInfo .m_right .sysMsg table tr td:nth-child(2) input {
  margin-right: 8px;
}
.wrapper .myInfo .m_right .sysMsg table tr td:nth-child(2) a {
  margin-left: 7px;
}
